.text-light {
    color: #999 !important;
}

.font-weight-light {
    font-weight: 200!important;
}

.letter-spacing-normal {
    letter-spacing: 0 !important;
}

.promo-top {
    padding: 1.3rem 0;
    
	h4 {
		font-size: 1.3rem;
		letter-spacing: .035em;
	}
}

.page-wraper {
    position: relative;
}

.home-page .page-content {
    padding: 40px 0 0;
}

.intro-section {
    padding: 95px 0 0 0;

    h3 {
        text-indent: -2px;
    }

    .owl-dots {
        position: absolute;
        left: 50%;
        bottom: 2.5rem;
        transform: translateX(-50%);
    }
}

.intro-slide {
    min-height: 440px;
}

.intro-title {
    font-size: 4.4rem;
    line-height: 1.25em;
    letter-spacing: -.025em;
}

.intro-desc {
    font-size: 4.4rem;
    line-height: 1.1;
    letter-spacing: -.01em;
}

.intro-content .btn {
    padding: 11.5px 41.5px 11.5px 41.5px;
    white-space: nowrap;
    font-weight: 500;
    min-width: 150px;
}

.intro-content-left {
    left: 10%;
}

.intro-content-right {
    right: 8.8%;
    left: auto;

    .intro-title {
        line-height: 1.22em;
    }
}

.home-page {
    .banner-content {
        left: 20px;
    }

    .banner-subtitle {
        margin-top: .1rem;
        font-size: 1.4rem;
        letter-spacing: .01em;
        line-height: 1.1;
    }

    .banner-title {
        margin-bottom: .9rem;
        font-size: 2rem;
        line-height: 1.25em;
        letter-spacing: -.01em;
    }

    .banner-link {
        display: flex;
        align-items: center;   
        white-space: nowrap;
        min-width: 5rem;
        padding: 0;
        border-width: 0;
        font-weight: 600;
        line-height: 1.5;
        background-color: transparent;
        text-transform: none;

        i:before {
            width: 15px;
            border-radius: 3rem;
            color: #fff;
            background: $primary-color;
            margin-top: -3px;
            vertical-align: middle;
            font-size: 8px;
            font-weight: 900;
            line-height: 1.5rem;
        }

        i {
            margin-left: 1rem;
        }

        &:hover i {
            animation: .2s ease-in 0s infinite alternate animateLeftToRight;
        }
    }

    .icon-box {
        -webkit-box-align: start;
        margin-bottom: 3.6rem;

        figure {
            flex: 0 0 40px;
        }

        i {
            font-size: 3.4rem;
        }
    }

    .icon-box-content {
        margin-left: 1.5rem;
        font-size: 1.4rem;

        .icon-title {
            margin-bottom: 4px;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.1;
        }

        p {
            line-height: 1.1em;
        }
    }

    .cat {
        border-radius: 0.4rem;
        transition: box-shadow 0.35s ease;
        min-height: 160px;
        
        &:hover {
            box-shadow: 0 1rem 15px 1.5px rgba(0, 0, 0, 0.1);
        }
    }

    .cat-content {
        padding-top: 1.4rem;
    }

    .cat-title {
        color: #333;
        font-weight: 500;
        letter-spacing: -.01em;
        transition: color .3s, box-shadow .3s;

        &:hover {
            box-shadow: 0 1px $primary-color;
        }
    }

    .cat-count {
        padding-bottom: 3.6rem;
        font-size: 1.4rem;
        line-height: .9em;
        color: #ccc;
    }
}

.flash-section {
    padding-top: 4.5rem;
}

.heading .title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
}

.home-page {
    .countdown-section {
        display: flex;
        align-items: center;
    }
}

.countdown-title {
    margin-left: 3.5rem;
    line-height: 0.8em;
}

.countdown-period {
    display: none;
}

.countdown-amount,
.deal-countdown .countdown-section:not(:last-child):after {
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 0;
    line-height: .8em;
    color: $primary-color;
}

.deal-countdown .countdown-section:not(:last-child):after {
    display: inline-block;
    position: absolute;
    content: ':';
    top: 38%;
    left: 134%;
    transform: translateY(-50%);
}

.cat-section {
    .cat-image {
        max-width: 137px;
        margin: auto;
    }
}

.flash-content {
    .product-body {
        padding: 1.3rem 0 2rem;
    }

    .product-sold {
        bottom: 5.1rem;
        width: calc(100% - 4rem);
    }

    .sold-text {
        bottom: 2rem;
    }

    .ratings-container {
        max-width: 100%;
        color: #ccc;
    }

    .product-sold {
        bottom: 5.1rem;
        width: calc(100% - 4rem);
        height: 1rem;
        background: #f3f3f3;

        .product-sold-val {
            height: 100%;
            background-color: #ffd04d;
        }
    }
}

.home-page {
    .product {
        .wishlist-link-product {
            font-size: 1.4rem;
            line-height: 1.86;
            color: #999;
            white-space: nowrap;
            i {
                margin-right: .9rem;
            }
    
            &:hover {
                color: $primary-color;
            }
    
            &.added-to-wishlist {
                color: $primary-color;
                i::before {
                    content: "ïˆ³";
                }
            }
        }
    
        .btn {
            min-width: 100%;
            white-space: nowrap;
    
            span {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    
        .btn-product:hover span,
        .btn-product:focus span {
            color: #fff;
            box-shadow: none;
        }
    }
}

.btn-product-zoom {
    position: absolute;
    top: 50%;
    left: calc(50% - 1px);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    font-size: 1rem;
    color: #222;
    background-color: rgba(250, 250, 250, 0.9);
    transform: translate(-50%, -50%) scale(0.75);
    text-indent: -999rem;
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        left: 2.6em;
        bottom: 3.2em;
        width: 1.3em;
        border-top: 2px solid;
        transform: rotate(-45deg);
    }

    span {
        display: block;
        position: absolute;
        top: 2.7em;
        right: 2.7em;
        width: 2em;
        height: 2em;
        border: 2px solid;
        border-radius: 50%;
        text-indent: -999rem;
        &:before {
            content: '';
            position: absolute;
            width: 0.8em;
            top: 0.7em;
            left: 0.4em;
            border-top: 2px solid;
        }

        &:after {
            content: '';
            position: absolute;
            width: 2px;
            top: 0.4em;
            left: 0.7em;
            border-top: 0.8em solid;
        }
    }

    &:hover {
        background-color: $primary-color;
        color: #fff;
    }
}

.product:not(:hover) .btn-product-zoom {
    opacity: 0;
    visibility: hidden;
}

.newsletter-section {
    min-height: 360px;
    border: .1rem solid #ebebeb;

    .banner-content {
        transform: none;
        left: 0;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.625em;
        letter-spacing: -.01em;
        width: 100%;
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        height: 46px;
        flex: 1;
        max-width: 62.4%;
        box-shadow: 0 8px 10px rgba(51,51,51,.05);
        border: .1rem solid #e1e1e1;
        letter-spacing: .01em;
        background: #fafafa;
    }

    .btn {
        padding: 11.5px 26.2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        font-weight: 500;
        min-width: auto;
    }
}

.newsletter-title {
    color: #222222;
    font-size: 2rem;
    letter-spacing: -.01em;
    line-height: 1.1;
}

.newsletter-text {
    padding-bottom: 1px;
    color: #222222;
    font-size: 4.4rem;
    letter-spacing: -.01em;
    line-height: 1.1;
}

.row.row-sm {
    margin-left: -5px;
    margin-right: -5px;
    [class*=col-] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.banner-group-1 {
    .lazy-media:before {
        padding-top: 210px;
    }
}

.banner-group-2 {
    .banner {
        min-height: 230px;
        border: .1rem solid #ebebeb;
    }

    .banner-content {
        padding-top: .2rem;
        left: 55%;
    }

    .banner-link i {
        margin-top: 2px;
    }

    .banner-title {
        color: #222;
        line-height: 1.2em;
    }
}

.home-page {
    .owl-simple .owl-nav {
        .owl-prev, 
        .owl-next {
            top: 46%;
            bottom: 0;
            color: #333;
            font-size: 2.4rem;
            width: 6rem;
            height: 6rem;
            background-color: #fff;
            border-radius: 50%;
            border: .1rem solid #ebebeb;
            transition: .3s;
        }
    
        .owl-prev {
            left: -5.5% !important;
        }
    
        .owl-next {
            right: -5.5% !important;
        }
    }

    .recommend-section {
        .owl-simple .owl-nav {
            .owl-prev, 
            .owl-next {
                top: 37%;
            }
        }
    }
}

.flash-content,
.recommend-section {
    .owl-dots {
        position: relative;
        bottom: -1rem;
        left: 50%;
        margin-top: .5rem;
        transform: translateX(-50%);
    }
 
    .product-media {
        overflow: visible;
    }

    .product-label {
        left: 0;
        margin-top: -3rem;
    }

    .owl-carousel {
        margin: 0 2px 0 0;
    }

    .owl-item:first-child {
        .product {
            border-left: 0;
        }
    }

    .owl-item {
        border: 1px solid #ebebeb;
        border-right: 0;
        transition: border-color .3s;

        &:last-child {
            border-right: 1px solid #ebebeb;
        }

        &:hover {
            border-color: #ccc;

            & + .owl-item {
                border-left-color: #ccc;
            }
        }
    }

    .product {
        // overflow: visible;
        padding: 3rem 2rem 6.5rem;
        transition: box-shadow .3s, border-color .3s;

        &:hover {
            border-color: #ccc;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
            z-index: 9;

            .product-media::after {
                content: none;
            }

            .product-footer {
                border-color: #ccc;
                transform: none;
                box-shadow: 0 -1rem 1rem 0 rgba(0,0,0,.07);
            }
        }
    }

    .product-footer {
        top: auto;
        left: -1px;
        right: -1px;
        bottom: -1px;
        transform: translateY(105%);
        padding: 1.3rem 2rem 1rem;
        border: 1px solid #ebebeb;
        border-top: 0;
        transition: transform .35s, border-color .35s, box-shadow .35s;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.01);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-cat,
    .product-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .product-cat {
        color: #ccc;
        font-size: 1.4rem;
        letter-spacing: .01em;
        -webkit-line-clamp: 1;
    }

    .product-title {
        margin-bottom: 1.1rem;
        font-size: 1.4rem;
        line-height: 1.43;
        -webkit-line-clamp: 2;
    }

    .product-price {
        flex-flow: wrap;
        line-height: 1.25;
        font-size: 1.8rem;
        letter-spacing: -.025em;

        .old-price {
            font-size: 1.4rem;
            text-decoration: line-through;
        }

        .new-price {
            font-size: 1.8rem;
            letter-spacing: -.025em;
        }
    }

    .btn-product.btn-cart {
        padding: 1rem 1rem;
        flex: 1 1 auto;
        font-size: 1.3rem;
        letter-spacing: -0.01em;

        &:before {
            font-size: 1.8rem;
            margin-top: -0.2rem;
            margin-right: 0.7rem;
        }
    }
}

.flash-content {
    .owl-stage-outer {
        border: 1px solid #ccc;
    }

    .owl-item {
        border: 0;
        border-left: 1px solid #ebebeb;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }
}

.recommend-section {
    .products {
        margin-bottom: -4.8rem;
    }
    
    .product-media:after {
        display: none;
    }

    .owl-stage-outer {
        padding-bottom: 4.8rem;
        margin-right: 5px;
        margin-left: -1px;
    }

    .owl-carousel {
        .owl-stage {
            margin-left: -1px;
        }
    }

    .owl-item {
        &:first-child {
            border-left-color: transparent;
        }

        &:last-child {
            border-right-color: transparent;
        }
    }

    .owl-dots {
        bottom: 3rem !important;
        left: 50% !important;
        transform: translateX(-50%);
        top: auto;
    }

    .owl-5 .owl-prev, .owl-5 .owl-next {
        top: 40%;
    }

    .product {
        overflow: visible;
        padding: 3rem 2rem 1.2rem;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.01);
        height: 100%;
    }

    .product-footer {
        bottom: -4.8rem;
    }

    .product-body {
        padding: 1.3rem 0 1.8rem;
    }
}

.deal-container.inline-type {
    max-width: 187px;
    padding: 0.55rem 1rem;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
}

.brand-section {
    padding: 2.4rem 0 4px;
}

.product:hover .deal-container.inline-type {
    opacity: 0;
    visibility: hidden;
}

.service-section .icon-box-content p {
    line-height: 1.7em;
}

.recommend-section,
.blog-section {
    .heading {
        margin-bottom: 2.5rem;
    }
}

.entry-body {
    padding: 1.7rem 0 2.5rem;
}

.entry-meta {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #ccc;
    text-transform: none;
    margin: -5px 0 5px 0;
}

.entry-title {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.025em;
    text-transform: none;
    margin: 0 0 1.2rem 0;
}

.entry-content p {
    font-weight: 300;
    line-height: 1.7;
    text-transform: none;
    margin: 0 0 1.5rem 0;
}

.read-more {
    font-weight: 600;
    line-height: 1.86;
    &:after {
        display: none;
    }
}

.entry-media a:after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.entry-media:hover a:after {
    visibility: visible;
    opacity: 1;
}

@include mq('xxl', 'max') {
    .owl-nav {
        display: none;
    }
}

@include mq('lg', 'max') {
    .intro-slide {
        background-position: 54%;
    }

    .banner-group-2 .banner-content {
        padding-right: 1rem;
        max-width: 215px;
    }

    .newsletter-section p {
        max-width: 500px;
    }
}

@include mq('md', 'max') {
    .newsletter-section .form-control {
        max-width: 80%;
    }

    .newsletter-text {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .countdown-title {
        margin-left: 0;
    }
    .flash-section .title {
        width: 100%;
        max-width: 100%;
    }
    .home-page .icon-box-content {
        margin-left: 0;
    }
    .home-page .icon-box figure {
        margin-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    .banner-group-2 .banner-content {
        left: 40%;
    }

    .newsletter-text {
        font-size: 3.7rem;
    }

    .intro-desc,
    .intro-title {
        font-size: 3.5rem;
    }

    .intro-content-right {
        right: auto;
        left: 2rem;
    }
}

@media (max-width: 449px) {
    .ratings-text {
        display: none;
    }
}

@include mq('sm') {
    .newsletter-section .form-control {
        border-right: 0;
    }
}

@include mq('lg') {
    .col-lg-5cols {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col-lg-2-5cols {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@include mq('xl') {
    .col-xl-8col {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }

    .container {
        width: 1420px;
        max-width: 100%;
    }
}