<main class="main home-page skeleton-body">
    <div class="page-content">
        <div class="intro-section bg-image" style="background-color: #fff;">
            <div class="container">

                <owl-carousel [options]="introSlider" [carouselClasses]="['owl-theme', 'sliding']" >
                    <div *ngFor="let bannerUrl of storeBannerUrls;let i = index">
                        <!-- <div> -->
                            <div class="intro-slide" style="background-image: url({{bannerUrl}}); background-size: 100% 100%;"></div>
                        <!-- </div> -->
                    </div>
                </owl-carousel>

                <!-- <owl-carousel carouselClasses="inner-carousel owl-simple rows cols-1" [options]="introSlider"> -->
                    <!-- <ng-container *ngFor="let storeBannerUrl of storeBannerUrls">
                            <div class="intro-slide" style="background-image: url({{storeBannerUrl}}); background-size: 100% 100%;"></div> -->
                        <!-- </ng-template> -->
                    <!-- </ng-container> -->
                    <!-- <div class="intro-slide" style="background-image: url({{storeBannerUrls[0]}}); background-size: 100% 100%;"></div>
                    <div class="intro-slide" style="background-image: url({{storeBannerUrls[1]}}); background-size: 100% 100%;"></div>
                    <div class="intro-slide" style="background-image: url({{storeBannerUrls[2]}}); background-size: 100% 100%;"></div> -->
                    <!-- <div class="intro-slide" style="background-image: url({{storeBannerUrls[3]}}); background-size: 100% 100%;"></div> -->
                    <!-- <div class="intro-slide" style="background-image: url({{storeBannerUrls[1]}}); background-size: 100% 100%;">
                        <div class="intro-content intro-content-right">
                            <h6 class="font-weight-normal text-white my-2 mt-0" contentAnim aniName="fadeInUpShorter">100% Recyclable Packaging</h6>
                            <h3 class="intro-title font-weight-bold text-white mb-0" contentAnim aniName="fadeInUpShorter">Good For You<br>And The Planet</h3>
                            <h3 class="intro-desc mb-2 font-weight-light text-secondary" contentAnim aniName="fadeInUpShorter">Fast Shipping</h3>
                            <a routerLink="/shop/sidebar/list" class="btn btn-primary text-uppercase" contentAnim aniName="fadeInUpShorter">Shop now</a>
                        </div>
                    </div> -->
                    <!-- <div class="intro-slide" style="background-image: url({{storeBannerUrls[2]}}); background-size: 100% 100%;"></div>
                    <div class="intro-slide" style="background-image: url({{storeBannerUrls[3]}}); background-size: 100% 100%;"></div> -->
                    <!-- </div> -->
                <!-- </owl-carousel> -->
            </div>
        </div>
        <!-- <div class="banner-group-1 mt-1 mb-1">
            <div class="container">
                <owl-carousel carouselClasses="owl-simple rows cols-1 cols-sm-2 cols-lg-3" [options]="bannerSlider">
                    <div class="banner mb-0">
                        <a routerLink="/shop/sidebar/list">
                            <molla-image src="assets/images/home/banners/banner-1.jpg" width="460" height="210" fixedPt="21rem" style="background-color: #e2f1f8;"></molla-image>
                        </a>
                        <div class="banner-content p-3">
                            <h5 class="banner-subtitle font-weight-normal text-light mb-1">Fresh Fruit</h5>
                            <h3 class="banner-title font-weight-bold">Organic Fresh Fruits<br>Get 25% Off</h3>
                            <a routerLink="/shop/sidebar/list" class="banner-link text-decoration-none">Shop Now<i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="banner mb-0">
                        <a routerLink="/shop/sidebar/list">
                            <molla-image src="assets/images/home/banners/banner-2.jpg" width="460" height="210" fixedPt="21rem" style="background-color: #c9e9e4;"></molla-image>
                        </a>
                        <div class="banner-content p-3">
                            <h5 class="banner-subtitle font-weight-normal text-light mb-1">Our Standards</h5>
                            <h3 class="banner-title font-weight-bold">Super Food Bundle<br>From $45.99</h3>
                            <a routerLink="/shop/sidebar/list" class="banner-link text-decoration-none">Shop Now<i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="banner mb-0">
                        <a routerLink="/shop/sidebar/list">
                            <molla-image src="assets/images/home/banners/banner-3.jpg" width="460" height="210" fixedPt="21rem" style="background-color: #e7e6e2;"></molla-image>
                        </a>
                        <div class="banner-content p-3">
                            <h5 class="banner-subtitle font-weight-normal text-light mb-1">Diet Products</h5>
                            <h3 class="banner-title font-weight-bold">Save Now<br>Detox &amp; Diuretics</h3>
                            <a routerLink="/shop/sidebar/list" class="banner-link text-decoration-none">Shop Now<i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                </owl-carousel>
            </div>
        </div> -->
    </div>
    <!-- <div class="icon-boxes-group">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInLeftShorter">
                    <div class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
                        <figure class="m-0">
                            <i aria-hidden="true" class="icon icon-truck text-dark d-inline-flex"></i>
                        </figure>
                        <div class="icon-box-content">
                            <div class="icon-title letter-spacing-normal text-dark">
                                Payment &amp; Delivery
                            </div>
                            <p class="text-light font-weight-normal">Free shipping for orders over $50</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInLeftShorter">
                    <div class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
                        <figure class="m-0">
                            <img src="assets/images/home/social-icons/return.jpg">
                        </figure>
                        <div class="icon-box-content">
                            <div class="icon-title letter-spacing-normal text-dark">
                                Return &amp; Refund
                            </div>
                            <p class="text-light font-weight-normal">Free 100% money back guarantee</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInRightShorter">
                    <div class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
                        <figure class="m-0">
                            <img src="assets/images/home/social-icons/quality.jpg">
                        </figure>
                        <div class="icon-box-content">
                            <div class="icon-title letter-spacing-normal text-dark">
                                Quality Support
                            </div>
                            <p class="text-light font-weight-normal">Alway online feedback 24/7</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInRightShorter">
                    <div class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
                        <figure class="m-0">
                            <img src="assets/images/home/social-icons/newsletter.jpg">
                        </figure>
                        <div class="icon-box-content">
                            <div class="icon-title letter-spacing-normal text-dark">
                                Join Our Newsletter
                            </div>
                            <p class="text-light font-weight-normal">10% off by subscribing to our newsletter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
        <hr class="m-0">
        <div class="cat-section mt-4 mb-3" contentAnim aniName="fadeInUpShorter">
            <div class="row" style="text-align: center;">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col" *ngFor="let category of categories; let i=index">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/catalogue/list" [queryParams]="{category: category.id, name: category.name}">
                                <molla-image src="{{category.thumbnailUrl}}" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/catalogue/list" [queryParams]="{category: category.id, name: category.name}" class="cat-title">{{category.name}}</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light"></h4>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'meat'}">
                                <molla-image src="assets/images/home/categories/1.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'meat'}" class="cat-title">Meat</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">1 Product</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'fruit'}">
                                <molla-image src="assets/images/home/categories/2.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'fruit'}" class="cat-title">Fruits</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">1 Product</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'bakery'}">
                                <molla-image src="assets/images/home/categories/3.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'bakery'}" class="cat-title">Bakery</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">2 Products</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'vegetable'}">
                                <molla-image src="assets/images/home/categories/4.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'vegetable'}" class="cat-title">Vegetable</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">5 Products</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'seafood'}">
                                <molla-image src="assets/images/home/categories/5.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'seafood'}" class="cat-title">Seafood</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">3 Products</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'drinks'}">
                                <molla-image src="assets/images/home/categories/6.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'drinks'}" class="cat-title">Drinks</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">1 Product</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'drinks'}">
                                <molla-image src="assets/images/home/categories/7.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'drinks'}" class="cat-title">Dairy &amp; Cheese</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">1 Product</h4>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
                    <div class="cat bg-white pt-1 mb-2">
                        <div class="cat-image">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'wine'}">
                                <molla-image src="assets/images/home/categories/8.jpg" width="137" height="137" fixedPt="137px"></molla-image>
                            </a>
                        </div>
                        <div class="cat-content text-center">
                            <a routerLink="/shop/sidebar/list" [queryParams]="{category: 'wine'}" class="cat-title">Wine</a>
                            <h4 class="cat-count letter-spacing-normal d-block font-weight-light">1 Product</h4>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <molla-trendy-collection [products]="products" [loaded]="loaded"></molla-trendy-collection>

    <!-- <div class="brand-section mt-3 mb-4">
        <div class="container py-2 pt-0">
            <owl-carousel carouselClasses="owl-simple rows cols-2 cols-xs-3 cols-md-4 cols-lg-6" [options]="brandSlider">
                <a href="javascript:;" class="brand"><img src="assets/images/home/logos/1.png"></a>
                <a href="javascript:;" class="brand"><img src="assets/images/home/logos/2.png"></a>
                <a href="javascript:;" class="brand"><img src="assets/images/home/logos/3.png"></a>
                <a href="javascript:;" class="brand"><img src="assets/images/home/logos/4.png"></a>
                <a href="javascript:;" class="brand"><img src="assets/images/home/logos/5.png"></a>
                <a href="javascript:;" class="brand"><img src="assets/images/home/logos/6.png"></a>
            </owl-carousel>
        </div>
    </div> -->
    <!-- <div class="container">
        <div class="newsletter-section bg-image d-flex align-items-center justify-content-center mb-1 pt-2 pb-2 px-3" style="background-image: url(assets/images/home/banners/4.jpg);">
            <div class="banner-content position-relative pt-0">
                <h3 class="newsletter-title font-weight-bold text-center mb-1" contentAnim aniName="fadeInDownShorter">New Customer Discount</h3>
                <h2 class="newsletter-text font-weight-bold text-center my-4 mt-0" contentAnim aniName="blurIn"><span class="text-primary">20% Off </span>Your First Order at Molla</h2>
                <p class="text-light font-weight-normal text-center mb-2" contentAnim aniName="fadeInUpShorter">New customers: <b class="text-dark">Save 20%</b> when you sign up for exclusive emails, recipes, expert tips &amp; more...</p>
                <form action="#" contentAnim aniName="fadeInUpShorter">
                    <div class="email-get d-flex justify-content-center flex-column flex-sm-row align-items-center align-items-sm-stretch">
                        <input type="email" name="" class="form-control text-light mb-1 font-weight-light" placeholder="Enter your Email Address" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary mb-1 letter-spacing-normal text-uppercase" type="submit" id="newsletter-btn">
                                <span>Subscribe</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <!-- <div class="banner-group-2 mb-4">
        <div class="container">
            <div class="row row-sm">
                <div class="col-md-6" contentAnim aniName="fadeInRightShorter">
                    <div class="banner bg-image d-flex align-items-center" style="background-image: url(assets/images/home/banners/5.jpg);">
                        <div class="banner-content">
                            <h4 class="banner-subtitle mb-1 mt-0 text-light font-weight-normal">Fresh Fruit</h4>
                            <h3 class="banner-title font-weight-bold">Organic Fresh Drinks<br>Get <span class="text-primary">25% Off</span> on Your Order</h3>
                            <a routerLink="/shop/sidebar/list" class="banner-link text-decoration-none">Shop Now<i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" contentAnim aniName="fadeInLeftShorter">
                    <div class="banner bg-image d-flex align-items-center" style="background-image: url(assets/images/home/banners/6.jpg);">
                        <div class="banner-content">
                            <h4 class="banner-subtitle mb-1 mt-0 text-light font-weight-normal">Fresh Fruit</h4>
                            <h3 class="banner-title font-weight-bold">All Natural Large Box<br>From <span class="text-primary">$29.99</span></h3>
                            <a routerLink="/shop/sidebar/list" class="banner-link text-decoration-none">Shop Now<i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <molla-recommend-collection [products]="products" [loaded]="loaded"></molla-recommend-collection> -->
    <!-- <div class="container">
        <div class="service-section py-3 pb-0 mt-3">
            <owl-carousel carouselClasses="carousel-simple" [options]="serviceSlider">
                <div class="icon-box d-flex align-items-center align-items-md-start flex-column flex-md-row text-center text-md-left py-2 pt-0 mb-7">
                    <figure class="m-0">
                        <img src="assets/images/home/social-icons/icon-apple.jpg">
                    </figure>
                    <div class="icon-box-content">
                        <h3 class="icon-title letter-spacing-normal mb-1">Always Fresh Products</h3>
                        <p class="text-light font-weight-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
                    </div>
                </div>
                <div class="icon-box d-flex align-items-center align-items-md-start flex-column flex-md-row text-center text-md-left py-2 pt-0 mb-7">
                    <figure class="m-0">
                        <img src="assets/images/home/social-icons/icon-leaf.jpg">
                    </figure>
                    <div class="icon-box-content">
                        <h3 class="icon-title letter-spacing-normal mb-1">Organic &amp; Gluten-Free</h3>
                        <p class="text-light font-weight-light">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                    </div>
                </div>
                <div class="icon-box d-flex align-items-center align-items-md-start flex-column flex-md-row text-center text-md-left py-2 pt-0 mb-7">
                    <figure class="m-0">
                        <img src="assets/images/home/social-icons/icon-medal.jpg">
                    </figure>
                    <div class="icon-box-content">
                        <h3 class="icon-title letter-spacing-normal mb-1">Premium Quality</h3>
                        <p class="text-light font-weight-light">Quisque volutpat mattis eros. Nullam malesuada eratut turpis. Suspendisse urna nibh, viverra non, semper.</p>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </div> -->

    <!-- <molla-blog-collection [posts]="posts" [loaded]="loaded"></molla-blog-collection> -->
</main>